body{
    background-color: white;
}
#nav{
    background-color: slategray;
    color: blue;
}
#nav a{
    font-size: 30px;
    color: blue;
}
#docs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3px;
    height: 30em;
    text-align: left;
    font-size: 2vw;
}